<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Arena | Dashboard</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="/assets/userstyle.css" rel="stylesheet">
    <script src="https://cdn.ckeditor.com/4.7.0/standard/ckeditor.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Yesteryear' rel='stylesheet' type='text/css'>

   </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">FinalPrep <span class="glyphicon glyphicon-king" aria-hidden="true"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Welcome,{{name}}</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <header id="header">
      <div class="container">
         <div class="row">
           <div class="col-md-10">
            <h1><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Dashboard <small>Grab Your notes</small></h1>
           </div>
           <div class="col-md-2">
             <div class="dropdown create">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Add Notes
                 <span class="caret"></span>
                  </button>
                 <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                 <li><a type="button-primary" data-toggle="modal" data-target="#addNotes">Add Notes</a></li>
                 </ul>
              </div>

           </div>
         </div>
      </div>
    </header>

    <section id="breadcrumb">
      <div class="container">
        <ol class="breadcrumb">
          <li class="active" style="color:white">Dashboard</li>
        </ol>
      </div>
    </section>

    <section id="main">
    <div class="container">

        <div class="col-md-12">
        <!-- website overview-->

          <div class="panel panel-default">
              <div class="panel-heading main-color-bg">
                <h3 class="panel-title">Search Notes</h3>
              </div>
              <div class="panel-body">
                <div class="col-md-3">
                  <div class="well dash-box">
                    <a href="/userloggedin/upload/Semester 1" style="font-size:22px">
                    <h2><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></h2>
                    B.tech sem 1</a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="well dash-box">
                    <a href="/userloggedin/upload/Semester 2" style="font-size:22px"><h2><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> </h2>
                    B.tech sem 2</a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="well dash-box">
                    <a href="/userloggedin/upload/Semester 3" style="font-size:22px">
                    <h2><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> </h2>
                    B.tech sem 3</a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="well dash-box">
                    <a href="/userloggedin/upload/Semester 4" style="font-size:22px">
                     <h2><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> </h2>
                    B.tech sem 4</a>
                  </div>
                </div>
              </div>
            </div>

            <!--latest users-->
            <div class="panel panel-default">
                <div class="panel-heading">Latest Notes</h3>

                </div>
                <div class="panel-body">
                  <ul id="upload">
                    <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Search Notes
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <li><a href="/userloggedinbuzzer4%">All Notes</a></li>
                      <li><a href="/userloggedin/upload/Semester 1">Semester 1</a></li>
                      <li><a href="/userloggedin/upload/Semester 2">Semester 2</a></li>
                      <li><a href="/userloggedin/upload/Semester 3">Semester 3</a></li>
                      <li><a href="/userloggedin/upload/Semester 4">Semester 4(Comming Soon!)</a></li>

                    </ul>
                  </div>
                  <br>
                <h1>Uploaded Notes</h1>
                {{#if success_msg}}
                  <div class="alert alert-success">{{success_msg}}</div>
                {{/if}}

                {{#if error_msg}}
                  <div class="alert alert-danger">{{error_msg}}</div>
                {{/if}}

                {{#if error}}
                  <div class="alert alert-danger">{{error}}</div>
                {{/if}}
                <table class="table  table-striped table-hover" id="table">
                <br>
                <tr>

                  {{#each data}}
                 <td>{{this.uploadfilename}}</td>
                  <td>{{this.Semester}}</td>
                  <td><a id="submit" href="http://res.cloudinary.com/leonardm/image/upload/v1499879798/{{this.uploadfilename}}" class="btn btn-primary">download</a>




                </tr>
                </tr>
                  {{/each}}
                </table>
                </ul>
                </div>
              </div>

        </div>
      </div>
    </div>

    </section>


    <footer id="footer">
              <p style="color: white">Copyright FINALPREP &copy; 2017</p>
          </footer>

    <!--add notes-->
    <div class="modal fade" id="addNotes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Notes</h4>
      </div>
      <div class="modal-body">
        <div id="upload">
      <h1>Select any file</h1>


    <form  id="userForm"  enctype ="multipart/form-data" action="/userloggedinbuzzer4%" method = "post">
                        <input type="text" name="uploadfilename" required><br>
                        <br>
                        <input type="file" name="upload_file" required><br>
                        <select id="Semester" name="Semester" required>
                         <option value="">Select Semester...</option>
                         <option value="Semester 1" >
                         Semester 1</option>
                         <option value="Semester 2" >
                         Semester 2</option>
                         <option value="Semester 3" >
                         Semester 3</option>
                         <option value="Semester 4" >
                         Semester 4</option>
                         </select>
                         </label>
                         <br>
                         <br>
       <button  name="submit" class="btn btn-primary">SUBMIT</button>
    </form>
    </div>

    </div>
  </div>
</div>


 <script>
            CKEDITOR.replace('editor1');
        </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
